.component{
  font-size: 25px;
  height: auto;
  width: 100%;
  margin: 0;
  background-color: rgb(255, 255, 255);
}
.col{
  width: 12%;
}
img{
  width: 200px;
  height: auto;
  margin-right: 50%;
}
mat-icon{
  color: #ff8800;
  font-size: 30px;
}
.alt-header .btn{
  display: flex;
  width: 10%;
  margin-left: 5%;
  padding-bottom: 5px;
  position: relative;
}
.alt-header .btn .alt-h-logo{
  flex: 1;
}
.alt-header .btn .alt-h-yazi{
  flex: 1;
  padding-top: 6%;
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
}
.alt-header .btn::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 130%;
  height: 2px;
  background-color: #ff8800; /* Pembe çizgi rengi */
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
  margin-right: 50%;
}
.alt-header .btn:hover::before{
  transform: scaleX(0.5);
}
.alt-h-yazi a{
  text-decoration: none;
  color: black;
}
.alt-header2{
  display: flex;
}
.userName{
  font-size: 17px;
  font-family: 'Times New Roman', Times, serif;
  opacity: 0.5;
}
