<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="component text-center">
    <div class="row">
      <div class="col restName">
        <h1>Restorant Ad</h1>
      </div>
    </div>
    <div class="row alt-header">
      <div class="alt-header2 col">
        <div class="row">
        <div class="col">
          <button class="btn ms-5" routerLink="/anasayfa" type="button">
            Anasayfa
          </button>
        </div>
        <div class=" col">
          <button class="btn" routerLink="/siparis" type="button">
            Siparişler
          </button>
        </div>
      </div>
      </div>

      <div class=" islemler col">
        <div class="row justify-content-end">
          <div class="col-auto">
            <button class="btn custom-btn btn-sm" routerLink="/Create" id="btn1">Create</button>
            <button class="btn custom-btn btn-sm" id="btn2" routerLink="/Delete">Delete</button>
            <button class="btn custom-btn btn-sm"  id="btn3" routerLink="/Update">Update</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
