.cerceve{
  font-family: 'Times New Roman', Times, serif;
}
.cerceve2{
  width: 50%;
  margin-left: 25%;
}
h3{
  margin-top: 5px;
  margin-left: 5px;
}
.list-group{
  margin-left: 2%;
  margin-top: 2%;
  width: 95%;
}
.custom-btn.active {
  background-color: green; /* Örnek olarak yeşil renk */
  color: white; /* Örnek olarak beyaz renk */
}
