<navbar></navbar>
<div class="cont">
  <div class="row">
    <div class="img col">
    <img src="assets/images/resim.png" alt="">
    </div>
    <div class="aciklama col me-2">
      <h1>Merhaba yemeksever dostum!</h1>
      <div class="inp">
        <div class=" mt-4 input-group flex-nowrap">
          <span class="input-group-text" id="arama"><mat-icon class="material-icons">search</mat-icon></span>
          <input type="text" class="form-control" placeholder="Ne yemek istersin?" aria-label="Username" aria-describedby="addon-wrapping">
        </div>
      </div>
      <div class="list mt-5">
        <ul>
          <li>
            <p><mat-icon class=" material-icons">check</mat-icon>
              Her gün on binlerce indirim!</p>
          </li>
          <li>
            <p>
              <mat-icon class=" material-icons">check</mat-icon>
              Online ya da kapıda, dilediğiniz gibi ödeme seçeneği!</p>
          </li>
          <li>
            <p><mat-icon class=" material-icons">check</mat-icon> Siparişinizle ilgili size her zaman destek olmaya hazır, 7/24 Canlı Yardım ekibi!</p></li>
        </ul>


      </div>
      <div class="person">
        <b>İşletme ortağımız olmak için bize katılabilirsiniz!</b>
        <button class="btn" routerLink="AdminBasvuru" type="submit"><p>Katıl</p></button>
     </div>
    </div>
  </div>

</div>


